*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
#heading{
    background-color: yellowgreen;
}
#container{
    display: flex;
    gap: 10px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
}