#box{
    display: flex;
    gap: 30px;
}
.clock{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 26px;
    text-align: center;
}
#HEAD{
    text-align: center;
    font-size: 35PX;
}
#container{
    display: flex;
    gap:30px;

}
.boxxx{
    width: 200px;
    height: 200px;
    background-color: brown;
}
h1{
    text-decoration: underline;
    background-image: linear-gradient(to left ,red,green,yellow);
}
body{
    background-color: aqua;
}
